<div class="flex-list">
	{{range .Repos}}
		<div class="flex-item">
			<div class="flex-item-leading">
				{{svg "octicon-file" 16}}
			</div>
			<div class="flex-item-main">
				<div class="flex-item-header">
					<div class="flex-item-title">
						<a class="text primary name" href="{{.Link}}">{{.GetSubject ctx}}</a>
					</div>
					<div class="flex-item-trailing muted-links">
						<span class="flex-text-inline">
							{{svg "octicon-git-commit" 16}}
							<span>{{CountFmt .NumWatches}}</span>
						</span>
						<span class="flex-text-inline">
							{{svg "octicon-repo-forked" 16}}
							<span>{{CountFmt .NumForks}}</span>
						</span>
					</div>
				</div>
				{{$description := .DescriptionHTML ctx}}
				{{if $description}}
					<div class="flex-item-body article-description">{{$description}}</div>
				{{end}}
				<div class="flex-item-body article-time">{{DateUtils.TimeSince .UpdatedUnix}}</div>
			</div>
		</div>
	{{else}}
		<div>
			<h3 class="tw-font-bold tw-text-base">{{ctx.Locale.Tr "search.search_results_for" $.Keyword}}</h3>
			<p class="tw-flex tw-items-center tw-gap-2 tw-italic tw-text-xs tw-text-gray-500">{{svg "octicon-skip" 16}} {{ctx.Locale.Tr "search.no_exact_page_found" $.Keyword}}</p>
			{{if $.Keyword}}
				<a class="ui primary button tw-ml-6" href="{{AppSubUrl}}/repo/create?subject={{QueryEscape $.Keyword}}">
				  {{ctx.Locale.Tr "search.create_new_subject"}}
				</a>
			{{end}}
		</div>
	{{end}}
</div>
