<input type="hidden" id="tree_path" name="tree_path" value="{{.TreePath}}">
<input type="hidden" name="commit_summary" value="{{ctx.Locale.Tr "repo.editor.article_creation"}}">
<input type="hidden" name="commit_message" value="">
<input type="hidden" name="commit_choice" value="direct">
<input type="hidden" name="last_commit" value="{{.last_commit}}">
