<div id="activity-feed" class="flex-list">
	{{range .Feeds}}
		<div class="flex-item">
			<div class="flex-item-leading">
				{{ctx.AvatarUtils.AvatarByAction .}}
			</div>
			<div class="flex-item-main tw-gap-2">
				<div>
					{{if gt .ActUser.ID 0}}
						<a href="{{AppSubUrl}}/{{(.GetActUserName ctx) | PathEscape}}" title="{{.GetActDisplayNameTitle ctx}}">{{.GetActDisplayName ctx}}</a>
					{{else}}
						{{.ShortActUserName ctx}}
					{{end}}
					{{template "shared/feed_action_text" .}}
					{{DateUtils.TimeSince .GetCreate}}
				</div>
				{{if and (.GetOpType.InActions "commit_repo" "mirror_sync_push") (not (IsArticleOwnerUpdate ctx .))}}
					{{$push := ActionContent2Commits .}}
					{{$repoLink := (.GetRepoLink ctx)}}
					{{$repo := .Repo}}
					<div class="tw-flex tw-flex-col tw-gap-1">
						{{range $push.Commits}}
							{{$commitLink := printf "%s/commit/%s" $repoLink .Sha1}}
							<div class="flex-text-block">
								<img loading="lazy" alt class="ui avatar" src="{{$push.AvatarLink ctx .AuthorEmail}}" title="{{.AuthorName}}" width="16" height="16">
								<a class="ui sha label" href="{{$commitLink}}">{{ShortSha .Sha1}}</a>
								<span class="text truncate">
									{{ctx.RenderUtils.RenderCommitMessage .Message $repo}}
								</span>
							</div>
						{{end}}
					</div>
					{{if and (gt $push.Len 1) $push.CompareURL}}
						<a href="{{AppSubUrl}}/{{$push.CompareURL}}">{{ctx.Locale.Tr "action.compare_commits" $push.Len}} »</a>
					{{end}}
				{{else if .GetOpType.InActions "create_issue"}}
					<span class="text truncate issue title">{{index .GetIssueInfos 1 | ctx.RenderUtils.RenderIssueSimpleTitle}}</span>
				{{else if .GetOpType.InActions "create_pull_request"}}
					<span class="text truncate issue title">{{index .GetIssueInfos 1 | ctx.RenderUtils.RenderIssueSimpleTitle}}</span>
				{{else if .GetOpType.InActions "comment_issue" "approve_pull_request" "reject_pull_request" "comment_pull"}}
					<a href="{{.GetCommentLink ctx}}" class="text truncate issue title">{{(.GetIssueTitle ctx) | ctx.RenderUtils.RenderIssueSimpleTitle}}</a>
					{{$comment := index .GetIssueInfos 1}}
					{{if $comment}}
						<div class="render-content markup tw-text-14">{{ctx.RenderUtils.MarkdownToHtml $comment}}</div>
					{{end}}
				{{else if .GetOpType.InActions "merge_pull_request"}}
					<div class="flex-item-body text black">{{index .GetIssueInfos 1}}</div>
				{{else if .GetOpType.InActions "close_issue" "reopen_issue" "close_pull_request" "reopen_pull_request"}}
					<span class="text truncate issue title">{{(.GetIssueTitle ctx) | ctx.RenderUtils.RenderIssueSimpleTitle}}</span>
				{{else if .GetOpType.InActions "pull_review_dismissed"}}
				<div class="flex-item-body text black">{{ctx.Locale.Tr "action.review_dismissed_reason"}}</div>
				<div class="flex-item-body text black">{{index .GetIssueInfos 2 | ctx.RenderUtils.RenderEmoji}}</div>
				{{end}}
			</div>
			<div class="flex-item-trailing">
				{{svg (printf "octicon-%s" (ActionIcon .GetOpType)) 32 "text grey tw-mr-1"}}
			</div>
		</div>
	{{end}}
	{{template "base/paginate" .}}
</div>
