{{ctx.Locale.Tr "repo.template_requirements.intro"}}<div class="ui bulleted list very relaxed">
	<div class="item"><strong>{{ctx.Locale.Tr "repo.template_requirements.open_collaboration"}}</strong> {{ctx.Locale.Tr "repo.template_requirements.open_collaboration_desc"}}</div>
	<div class="item"><strong>{{ctx.Locale.Tr "repo.template_requirements.originality"}}</strong> {{ctx.Locale.Tr "repo.template_requirements.originality_desc"}}</div>
	<div class="item"><strong>{{ctx.Locale.Tr "repo.template_requirements.review_process"}}</strong> {{ctx.Locale.Tr "repo.template_requirements.review_process_desc"}}</div>
	<div class="item"><strong>{{ctx.Locale.Tr "repo.template_requirements.community_standards"}}</strong> {{ctx.Locale.Tr "repo.template_requirements.community_standards_desc"}}</div>
	<div class="item"><strong>{{ctx.Locale.Tr "repo.template_requirements.location_restrictions"}}</strong> {{ctx.Locale.Tr "repo.template_requirements.location_restrictions_desc"}}</div>
</div>
<i>{{ctx.Locale.Tr "repo.template_requirements.footer"}}</i>

