<div class="flex-list">
	{{range .Users}}
		<div class="flex-item tw-items-center">
			<div class="flex-item-leading">
				{{ctx.AvatarUtils.Avatar . 48}}
			</div>
			<div class="flex-item-main">
				<div class="flex-item-title">
					{{template "shared/user/name" .}}
					{{if .Visibility.IsPrivate}}
						<span class="ui basic tiny label">{{ctx.Locale.Tr "repo.desc.private"}}</span>
					{{end}}
				</div>
				<div class="flex-item-body">
					{{if .Location}}
						<span class="user-location">{{.Location}}</span>
					{{end}}
					<span class="user-joined">Joined on {{DateUtils.AbsoluteShort .CreatedUnix}}</span>
				</div>
			</div>
		</div>
	{{else}}
		<div class="flex-item">
			{{ctx.Locale.Tr "search.no_results"}}
		</div>
	{{end}}
</div>
